# This is an example of file that could be used to override some variables used by nginx.
variables:
  DRAKY_NGINX_FRONT_CONTROLLER: "${DRAKY_NGINX_ROOT}/public"
  DRAKY_NGINX_DOMAIN: webapp.docker.localhost
  DRAKY_NGINX_PORT: 8000

  # You may want to set the `DRAKY_PHP_COMPOSER_HASH_VERIFY` variable to 0 if you don't want to keep the composer's hash in the `DRAKY_PHP_COMPOSER_HASH` variable up to date.
  # Otherwise make sure the DRAKY_PHP_COMPOSER_HASH variable has the up to date value.
  # For security reasons it's recommended to keep `DRAKY_PHP_COMPOSER_HASH_VERIFY` at "1" and making sure that the `DRAKY_PHP_COMPOSER_HASH` variable has set to the correct value.
  # DRAKY_PHP_COMPOSER_HASH_VERIFY: 1
  # DRAKY_PHP_COMPOSER_HASH: <enter your value>

dependencies:
  - draky-webapp-webserver